<h1 class="text-center">Perfil</h1>
<h2 class="text-center">{{user.userName}}</h2>

<p class="text-center">Edita tu perfil</p>

<div class="my-2 text-center">
    {{#if imagen}}
        <img src="/img/perfiles/{{imagen}}" class="rounded mx-auto d-block" alt="">
    {{else}}
        <img src="/img/perfiles/perfil.jpg" class="rounded mx-auto d-block" alt="">
    {{/if}}
</div>

<form action="/perfil?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}" /> -->
    <input class="form-control form-control-sm" id="formFileSm" type="file" name="myFile">
    <button type="submit" class="btn btn-dark my-3" >Cambiar Imagen de perfil</button>

</form>
